name: ci
on:
  push:
    branches:
    - main
    tags:
    - "v[0-9]+.[0-9]+.[0-9]+"
  pull_request:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
      with:
        fetch-depth: 0

    - name: Setup Go
      uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3.5.0
      with:
        go-version: "1.19"
        cache: true

    - name: ci/check-style
      run: make check-style

  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
      with:
        fetch-depth: 0

    - name: Setup Go
      uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3.5.0
      with:
        go-version: "1.19"
        cache: true

    - name: ci/test
      run: make unittest

  build:
    if: ${{ github.event_name == 'pull_request' || github.ref_name  == 'main' }}
    runs-on: ubuntu-latest
    needs: [lint, test]
    steps:
    - name: Checkout repo
      uses: actions/checkout@dc323e67f16fb5f7663d20ff7941f27f5809e9b6 # v3.2.0
      with:
        fetch-depth: 0

    - name: ci/build-docker
      run: make build-image

    - name: ci/scan-docker-security
      uses: aquasecurity/trivy-action@9ab158e8597f3b310480b9a69402b419bc03dbd5 # v0.8.0
      with:
        image-ref: "mattermost/backup-restore-tool"
        format: "table"
        ignore-unfixed: true
        vuln-type: "os,library"
        severity: "CRITICAL"

    - name: ci/docker-push
      run: |
        TAG=${GITHUB_SHA:0:7} ./scripts/push-docker.sh
      env:
        DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
        DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
        REF_NAME: ${{ github.ref_name }}
